<% include ../partials/header %>
<div class="row">
    <div class="col-md-4">
        <h1><%= user.firstName + " " + user.lastName %></h1>
        <div class="thumbnail">
            <img src="<%= user.avatar%>" alt="user profile image">
            <div class="caption">
                <a href="mailto:<%= user.email %>"><%= user.email %></a>
            </div>
        </div>
        <p>
            No meu xinélo da humildade eu gostaria muito de ver o Neymar e o Ganso. Por que eu acho que.... 11 entre 10 brasileiros gostariam. Você veja, eu já vi, parei de ver. Voltei a ver, e acho que o Neymar e o Ganso têm essa capacidade de fazer a gente olhar.
            Ai você fala o seguinte: "- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010. Agora, por isso, nós já não desenhamos, não começamos a fazer projeto do que nós "podêmo fazê"? 11, 12, 13, 14... Por que é que não?
            A única área que eu acho, que vai exigir muita atenção nossa, e aí eu já aventei a hipótese de até criar um ministério. É na área de... Na área... Eu diria assim, como uma espécie de analogia com o que acontece na área agrícola.
        </p>
    </div>
    <div class="col-md-8">
        <h3><%= user.username %>'s campgrounds</h3>
        <ul>
            <% campgrounds.forEach(function(campground){ %>
                <li><a href="/campgrounds/<%=campground.id %>"> <%=campground.name %></a>  </li>
            <% }) %>
        </ul>
    </div>
</div>

<% include ../partials/footer %>